.cuerpo {
    margin: 0 auto;
    width: 30%;
    padding: 20px;
    background-color:rgb(247, 243, 239);
    border: 0.2px solid black;
    text-align: center;

}
.botones{
    margin-top: 20px;
}
a{
    text-decoration: none;
   color: black;
}